<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lab3-Bai4-List Status</title>
</head>
<body>
<h2 style="text-align:center;">Trạng thái của danh sách Staff</h2>

<table border="1" style="width:100%; text-align:center; border-collapse: collapse;">
    <thead style="background-color: lightgray;">
    <tr>
        <th rowspan="2">HỌ VÀ TÊN</th>
        <th colspan="6">CÁC THUỘC TÍNH TRẠNG THÁI</th>
    </tr>
    <tr>
        <th>Index</th>
        <th>Count</th>
        <th>First</th>
        <th>Last</th>
        <th>Odd</th>
        <th>Even</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="staff, st : ${list}">
        <tr th:style="@{|background-color:${st.odd?'pink':'cyan'}|}">
            <!-- Họ và tên -->
            <td th:text="${#strings.capitalizeWords(staff.fullname)}"></td>

            <!-- Index (bắt đầu từ 0) -->
            <td th:text="${st.index}"></td>

            <!-- Count (bắt đầu từ 1) -->
            <td th:text="${st.count}"></td>

            <!-- Có phải phần tử đầu tiên không -->
            <td th:text="${st.first}"></td>

            <!-- Có phải phần tử cuối cùng không -->
            <td th:text="${st.last}"></td>

            <!-- Có phải phần tử lẻ không -->
            <td th:text="${st.odd}"></td>

            <!-- Có phải phần tử chẵn không -->
            <td th:text="${st.even}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>